#ifndef CONFIG_H
#define CONFIG_H

// !!!!! IMPORTANT !!!!!
// Please change the values within "<Your...>"" below to match your own configuration
// and save the file as "config.h"

// WiFi
const char* SSID = "<Your WIFI SSID>";
const char* WiFiPassword = "<Your WIFI Password>";

// MQTT
const char mqtt_broker[] = "test.mosquitto.org"; // or the MQTT broker of your choice
int        mqtt_port     = 1883;                 // or the port your MQTT broker uses

const char mqtt_user[] = "";                     // add your credentials if necessary 
const char mqtt_pwd[] = "" ;                     // if empty, then no credetials are used

const char topic[]  = "/<Define a topic-name>/shs/humitemp";

const char* caCert = "";    // if a certificate is used, then copy the contents here.

#endif // CONFIG_H